Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.9
Adafruit-SSD1306==1.6.2
board==1.0
Pillow==9.0.0
pytz==2021.1
RPi.GPIO==0.7.0
spidev==3.5
zope.interface==5.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
idna==3.3
requests==2.27.1
urllib3==1.26.8
